<br>
<div class="container">

    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Course</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Subject</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Student</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Score</th>
                        <td>
                            <input type="number" name="" id="">

                            <button type="button" class="btn btn-primary">Submit</button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
    </div>

</div>