<!-- <h2>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
<H3>ĐỘC LẬP - TỰ DO - HẠNH PHÚC</H3> -->
<div class="bg-certificate">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col text-center font-weight-bold">
            <h2 class="header font-weight-bold">THE SOCIALIST REPUBLIC OF VIETNAM</h2>
            <br>
            <br>
            <H2>confers</H2>

            <span class="title">
                <h1 class="font-weight-bold">CERTIFICATE OF GRADUATION</h1>
            </span>
            
            <h3 class="font-weight-bold">Upon: Nguyễn Bá Phúc</h3>
            <h3 class="font-weight-bold">Bron on: 10 August 1998</h3>
            <h3 class="font-weight-bold">Major in: Web Developer</h3>
            <h3 class="font-weight-bold">Ranking: Excellent</h3>
            <h3 class="font-weight-bold">Mode of study: Short-Term</h3>
            
            <p class="font-weight-bold">Serial Number: ..........</p>
            <p class="font-weight-bold">Reference Number: ...........</p>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
