
.bg-certificate{
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

body {
    -webkit-print-color-adjust: exact !important;
}

.col{
    margin-top: 30px;
}

.row{
    opacity: 1 !important;
}

.font-weight-bold{
    font-weight: bold !important;
}

.title{
    color: red;
}

.margin1{
    margin-top: 50px !important;
}

.margin0{
    margin-top: 150px !important;
}


// @media screen {
//     :host {
//         display: none;
//     }
// }

// @media print {
//     app-root > * { display: none; }
//     app-root app-print-layout { display: block; }
// }

// @media screen {
//     :host {
//       display: none;
//     }
// }