<!-- <h2>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
<H3>ĐỘC LẬP - TỰ DO - HẠNH PHÚC</H3> -->
<div class="bg-certificate" style="background-image: url('./../../../../../assets/images/trongdong.jpg')">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col text-center font-weight-bold">
            <h2 class="header font-weight-bold">THE SOCIALIST REPUBLIC OF VIETNAM</h2>
            <h3 class="font-weight-bold">INDEPENDANCE - FREEDOM - HAPPINESS</h3>
            <hr>
            <br>
            <br>
            <H2>confers</H2>
            <br>
            <span class="title">
                <h1 class="font-weight-bold" style="color: red; display: inline;">CERTIFICATE OF GRADUATION</h1>
            </span>
            <div class="row">
                <div class="col-3 text-left">
                    <h4 class="margin0 font-italic font-weight-bold">Upon:</h4>
                    <h4 class="margin1 font-italic font-weight-bold">Born on:</h4>
                    <h4 class="margin1 font-italic font-weight-bold">Major in:</h4>
                    <h4 class="margin1 font-italic font-weight-bold">GPA:</h4>
                    <h4 class="margin1 font-italic font-weight-bold">Mode of study:</h4>
                    <h4 class="margin1 font-italic font-weight-bold">Academic year:</h4>
                </div>
                <div class="col-6">
                    <h4 class="margin0 font-weight-bold"> {{ fullname }}</h4>
                    <h4 class="margin1 font-weight-bold">10 - August - 1998</h4>
                    <h4 class="margin1 font-weight-bold"> {{ data.course }} </h4>
                    <h4 class="margin1 font-weight-bold"> {{ data.rank }} </h4>
                    <h4 class="margin1 font-weight-bold">Short-term</h4>
                    <h4 class="margin1 font-weight-bold">2019</h4>
                </div>
                <div class="col-3"></div>
            </div>

        </div>
        <div class="col-2">
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <p class="font-weight-bold">Serial Number: 10081998</p>
            <p class="font-weight-bold">Reference Number: 22102019</p>
        </div>
    </div>
</div>