<footer>
    <div class="container-fluid p-sm-5 py-5">
        <div class="row footer-gap">
            <div class="col-lg-3 col-sm-6">
                <h3 class="text-uppercase mb-3">Address</h3>
                <address class="mb-0">
                <p><strong>Headquarters:</strong></p>
                <p class="mb-3"><i class="fas fa-map-marker"></i> Area II, 3/2 street, Xuan Khanh, Ninh Kieu, Can Tho, Viet Nam.</p>
                <p><i class="fas fa-clock"></i> Timings : 7 a.m to 5 p.m</p>
                <p><i class="fas fa-phone"></i> +84 987 654 321 </p>
                <p><i class="fas fa-envelope-open"></i> <a href="mailto:info@example.com">info@example.com</a></p>
                <p><i class="fas fa-fax"></i> +84 909 909 909 </p>
            </address>
            </div>
            <div class="col-lg-4 col-sm-4 mt-lg-4 mt-sm-4 mt-4 p-md-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22876.315279297756!2d105.75484537349311!3d10.027203177983555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0895a51d60719%3A0x9d76b0035f6d53d0!2zxJDhuqFpIGjhu41jIEPhuqduIFRoxqEgLSBDYW4gdGhvIFVuaXZlcnNpdHk!5e0!3m2!1svi!2s!4v1567596870785!5m2!1svi!2s"
                    width="360" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 mt-lg-0 mt-sm-5 mt-4 pr-md-5">
                <h3 class="text-uppercase mb-3">Newsletter</h3>
                <p class="mb-4">Subscribe to Our Newsletter to get News, Amazing Offers & More</p>
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Enter your email..." required="">
                    <button class="btn1"><i class="far fa-paper-plane"></i></button>
                    <div class="clearfix"> </div>
                </form>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
                <h3 class="text-uppercase mb-3"> Follow us</h3>
                <p class="mb-4">Follow us on social media</p>
                <ul class="social mt-lg-0 mt-3">
                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li class="mr-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li class="mr-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                    <li class=""><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    <div class="social-divider"></div>
                    <li class="mr-1"><a href="#"><span class="fas fa-rss"></span></a></li>
                    <li class="mr-1"><a href="#"><span class="fab fa-vk"></span></a></li>
                    <li class="mr-1"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
                    <li class=""><a href="#"><span class="fab fa-yahoo"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright pb-5 text-center">
        <p>© 2018 Eduversity. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
    </div>
</footer>